body{
    text-align: center;
    background-color: antiquewhite;
}

h1{
       text-align: center;
        color: burlywood;
        font-size: 50px;
}


div{
    background-color:darkgoldenrod;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    color:bisque;
    text-transform: capitalize;
    width: 300px;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    margin: auto;
    border: 10px solid black;
}


#foo,#bar{
   color :chocolate
}


.baz{
    color: aqua;
}



